
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>


        <partial name="~/Views/AdminPartial/HeadPartial.cshtml" />
<body>

	

	<section id="container">
		<!--header start-->
		<partial name="~/Views/AdminPartial/NavBarPartial.cshtml"/>
		<!--header end-->
		<!--sidebar start-->
		<partial name="~/Views/AdminPartial/SideBarPartial.cshtml" />
		<!--sidebar end-->
		<!--main content start-->
		@RenderBody()
		<!--main content end-->
	</section>
	<partial name="~/Views/AdminPartial/FooterPartial.cshtml" />
</body>
</html>

